$greencyan: #339966 !default;
$phthalo: #0F2E1F !default;
$rich: #050F0A !default;
$seaweed: #028090 !default;

$feedback-color: darken($sidebar-color, 3%);
$border-color: $grey-lt-100;

$body-text-color: $rich;
$body-heading-color: $phthalo;
$nav-child-link-color: $greencyan;
$link-color: $greencyan;